name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  apk:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build debug apk with Gradle
      run: bash ./gradlew assembleDebug --stacktrace
    - name: Build release apk with Gradle
      run: bash ./gradlew assembleRelease
